h1{
    color: darkred;
    font-family: 'Lemon', serif;
}
body{
    background-color: indianred;
}
header{ 
    
    color: darkslateblue;
}
l1{
    color: darkturquoise;

}
footer{
    color: crimson;
    font-style: italic;
}